{{template "base" .}}

{{define "content"}}

    <div>
        <form method="POST" action="/about">
            <input type="hidden" name="csrf_token" value="{{.CSRFToken}}" />
            <label>USERNAME: </label><input name="username" type="text" value=""/><br><br>
            <label>PASSWORD: </label><input name="password" type="text" value=""/><br><br>

            <input type = "submit" style="color:red" value = "Sign Up!"/>
        </form>
    </div>
{{end}}