{{template "base" .}}

{{define "css"}}
<style>
    .left {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
</style>
{{end}}

{{define "content"}}
     <img src="/static/images/gopher-hello.gif" class="left">
{{end}}